<a href="https://colab.research.google.com/github/SaiPavanKumarB/Music-Review-Ratings-Prediction/blob/main/Sri_Music_Ratings_Prediction_By_Reviews.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import json
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### Import the json file from GitHub

In [6]:
url = 'https://raw.githubusercontent.com/SaiPavanKumarB/Music-Review-Ratings-Prediction/main/Musical_Instruments_5.json'
df = pd.read_json(url,orient='records',dtype='dict',lines=True)
df.head()

       reviewerID        asin  ... unixReviewTime   reviewTime
0  A2IBPI20UZIR0U  1384719342  ...     1393545600  02 28, 2014
1  A14VAT5EAX3D9S  1384719342  ...     1363392000  03 16, 2013
2  A195EZSQDW3E21  1384719342  ...     1377648000  08 28, 2013
3  A2C00NNG1ZQQG2  1384719342  ...     1392336000  02 14, 2014
4   A94QU4C90B1AX  1384719342  ...     1392940800  02 21, 2014

[5 rows x 9 columns]

In [7]:
df.describe()

            overall  unixReviewTime
count  10261.000000    1.026100e+04
mean       4.488744    1.360606e+09
std        0.894642    3.779735e+07
min        1.000000    1.095466e+09
25%        4.000000    1.343434e+09
50%        5.000000    1.368490e+09
75%        5.000000    1.388966e+09
max        5.000000    1.405987e+09

In [ ]:
from google.colab import drive
drive.mount('/content/drive')